---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";

---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <h1 class="text-justify text-2xl">
        There are no plans to publish articles on this website for now, so this
        page is pretty much useless and just a placeholder for now.
      </h1>
    </section>
  </main>
</BaseLayout>
