---
import About from "../content/main/About.mdx";
import Experience from "../content/main/Experience.mdx";
import { Icons } from "../components/Icons";
import IntroductionCard from "../components/IntroductionCard.astro";
import ProjectList from "../components/ProjectList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} mainPage>
  <main class="flex flex-col gap-5">
    <IntroductionCard />
    <hr />
    <div id="about" class="flex flex-col gap-2">
      <h1 class="text-2xl font-bold">About me</h1>
      <About />
    </div>
    <hr />
    <div id="experience">
      <h1 class="text-2xl font-bold">Experience</h1>
      <h2 class="text-muted-foreground">
        A list of technologies i worked a lot with
      </h2>
      <Experience />
    </div>
    <hr />
    <div id="projects" class="flex flex-col gap-2">
      <h1 class="text-2xl font-bold">Portfolio</h1>
      <h2 class="text-base text-muted-foreground">
        Projects that i made in my freetime or in school
      </h2>
      <ProjectList />
    </div>
  </main>
</BaseLayout>
