---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} contactDeactivated >
  <main>
    <h1 class="text-4xl font-black">Malek Hamza</h1>
    <h2 class="text-1xl">software developer, interested in new technologies 🚀</h2>
  </main>
</BaseLayout>
