---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
  <main>
    <h1>Malek Hamza</h1>
    <h2>software developer, intrested in new hype ass technologies 🚀</h2>
  </main>
</BaseLayout>
