---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icons } from "../components/Icons";
import About from "../components/About.mdx";
import ProjectList from "../components/ProjectList.astro";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  mainPage
>
  <main class="flex flex-col gap-5">
    <div id="introduction" class="flex gap-5 justify-center">
      <div class="flex items-center">
        <img
          class="rounded-full"
          src="https://profile-images.xing.com/images/d9afdeb77be0729aa6ae5391f2112782-1/malek-hamza.256x256.jpg"
          alt="A picture of me (Malek Hamza) from my XING"
          class="w-[256px] h-[256px]"
        />
      </div>
      <div class="flex flex-col gap-2 justify-center">
        <h1 class="text-4xl font-black">Malek Hamza</h1>
        <h2 class="text-1xl">
          Software Developer, based in <a
            class="underline"
            target="_blank"
            rel="noopener"
            href="https://www.openstreetmap.org/relation/62559"
            >Bremen, Germany</a
          >, interested in new technologies 🚀
        </h2>
        <div class="flex gap-3">
          <a href="https://www.xing.com/profile/Malek_Hamza" target="_blank">
            <Icons.xing aria-label="My GitHub Profile" />
          </a>
          <a
            href="https://www.linkedin.com/in/malek-hamza-98254a248"
            target="_blank"
          >
            <Icons.linkedIn aria-label="My GitHub Profile" />
          </a>
          <a href="https://github.com/mlhmz" target="_blank">
            <Icons.github aria-label="My GitHub Profile" />
          </a>
        </div>
      </div>
    </div>
    <hr />
    <div id="about" class="flex flex-col gap-2">
      <h1 class="text-2xl font-bold">About me</h1>
      <About />
    </div>
    <hr />
    <div id="projects" class="flex flex-col gap-2">
      <h1 class="text-2xl font-bold">Projects</h1>
      <ProjectList />
    </div>
  </main>
</BaseLayout>
