---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="flex gap-3">
  <h2 class="font-black">
    {SITE_TITLE.toUpperCase()}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://www.xing.com/profile/Malek_Hamza" target="_blank">XING</HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/malek-hamza-98254a248" target="_blank">LinkedIn</HeaderLink>
    <HeaderLink href="https://github.com/mlhmz" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
