---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icons } from "./Icons";
import ThemeToggle from "./ThemeToggle";

interface Props {
  contactDeactivated?: boolean;
}

const { contactDeactivated } = Astro.props;
---

<header class="flex gap-3 w-screen">
  <nav class="md:grid grid-cols-3 w-full m-0 p-5 fixed bg-background border-b border-b-border opacity-80 backdrop-blur-md">
    <div>
      <a href="/personal-homepage/" class="font-bold text-2xl no-underline">
        {SITE_TITLE}
      </a>
    </div>
    <div class="hidden md:flex justify-center items-center gap-3">
      <HeaderLink href="/personal-homepage/">Home</HeaderLink>
      <HeaderLink href="/personal-homepage/blog">Blog</HeaderLink>
      <HeaderLink href="/personal-homepage/about">About</HeaderLink>
    </div>
    <div id="nav-buttons" class="hidden md:flex justify-end items-center gap-3">
      {
        !contactDeactivated && (
          <>
            <HeaderLink
              href="https://www.xing.com/profile/Malek_Hamza"
              target="_blank"
            >
              <Icons.xing />
            </HeaderLink>
            <HeaderLink
              href="https://www.linkedin.com/in/malek-hamza-98254a248"
              target="_blank"
            >
              <Icons.linkedIn />
            </HeaderLink>
            <HeaderLink href="https://github.com/mlhmz" target="_blank">
              <Icons.github />
            </HeaderLink>
          </>
        )
      }
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
