---
import { Icons } from "./Icons";
import { LINKED_IN_LINK, GITHUB_LINK, MAIL_LINK, XING_LINK } from "../consts"
---

<div id="introduction" class="flex gap-5 justify-center">
  <div class="flex items-center">
    <img
      class="rounded-full"
      src="https://profile-images.xing.com/images/d9afdeb77be0729aa6ae5391f2112782-1/malek-hamza.256x256.jpg"
      alt="A picture of me (Malek Hamza) from my XING"
      class="w-[256px] h-[256px]"
    />
  </div>
  <div class="flex flex-col gap-3 justify-center">
    <h1 class="text-4xl font-black">Malek Hamza</h1>
    <p>
      Software Developer, based in <a
        class="underline"
        target="_blank"
        rel="noopener"
        href="https://www.openstreetmap.org/relation/62559">Bremen, Germany</a
      >, interested in new technologies 🚀
    </p>
    <div class="flex gap-3">
      <a href={XING_LINK} aria-label="My Mail: malek.hamza@tuta.io" target="_blank">
        <Icons.xing aria-label="My GitHub Profile" />
      </a>
      <a
        href={LINKED_IN_LINK}
        target="_blank"
      >
        <Icons.linkedIn aria-label="My GitHub Profile" />
      </a>
      <a href={GITHUB_LINK} target="_blank">
        <Icons.github aria-label="My GitHub Profile" />
      </a>
      <a href={MAIL_LINK} target="_blank">
        <Icons.mail />
      </a>
    </div>
  </div>
</div>
