---
import { getCollection } from "astro:content";

const projects = (await getCollection("portfolio")).sort(
  (a, b) => a.data.index - b.data.index
);
---

<div>
  <ul>
    {
      projects.map((project) => (
        <li class="flex flex-col gap-2">
          <a
            class="font-bold underline underline-offset-4"
            href={`/personal-homepage/portfolio/${project.slug}/`}
          >
            {project.data.name}
          </a>
          <p class="text-muted-foreground text-sm">
            {project.data.shortDescription}
          </p>
        </li>
      ))
    }
  </ul>
</div>
