---
import "@fontsource-variable/inter";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
  contactDeactivated?: boolean;
}

const { title, description, contactDeactivated } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="">
    <Header contactDeactivated={contactDeactivated} />
    <div class="mt-16">
      <slot />
    </div>
    <Footer />
  </body>
</html>
