---
import "@fontsource-variable/inter";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
  mainPage?: boolean;
}

const { title, description, mainPage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden overflow-y-scroll text-primary">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-background antialiased transition-colors">
    <Header mainPage={mainPage} />
    <div class="container mt-[100px]">
      <slot />
    </div>
    <Footer />
  </body><script is:inline>
    const theme = (() => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
  </script>
</html>
