---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import ProjectList from "../../components/ProjectList.astro";
---

<BaseLayout
  title={SITE_TITLE + " - " + "Portfolio"}
  description={SITE_DESCRIPTION}
>
  <h1>Projects</h1>
  <ProjectList />
</BaseLayout>
